<!-- <nav>
  {% for item in site.data.navigation %}
    <a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
  {% endfor %}
</nav> -->
<div class="logo vertical-align-cell">
  <a href="home" title="CarService"><img src="assets/images/logos/RMC.PNG" class="img-fluid header-logo" /></a>
  <h2>Tyres and repairs ltd</h2>
</div>
<a href="#" class="mobile-menu-switch vertical-align-cell">
  <span class="line"></span>
  <span class="line"></span>
  <span class="line"></span>
</a>
<div class="menu-container clearfix vertical-align-cell">
  <nav>
      <ul class="sf-menu">
            {% for item in site.data.navigation.navlinks %}
          <li {% if page.url == item.url %}class="selected"{% endif %}>
              <a href="{{item.url}}" title="item.title">
                  {{item.title}}
              </a>
              {% if item.subfolderitems[0] %}
              <ul>              
              {% for entry in item.subfolderitems %}
              <li>
                  <a href="{{entry.url}}" title="{{entry.page}}">
                        {{entry.page}}
                    </a>
                </li>
              {% endfor %}
            </ul>
            {% endif %}
          </li>
          {% endfor %}          
      </ul>
  </nav>
  <div class="mobile-menu-container">
      <div class="mobile-menu-divider"></div>
      <nav>
          <ul class="mobile-menu collapsible-mobile-submenus">
            {% for item in site.data.navigation.navlinks %}
              <li {% if page.url == item.url %}class="selected"{% endif %}>
                  <a href="{{item.url}}" title="{{item.title}}">
                      {{item.title}}
                  </a>                  
                  {% if item.subfolderitems[0] %}
                    <a href="#" class="template-arrow-menu"></a>
                    <ul>
                    {% for entry in item.subfolderitems %}
                    <li>
                        <a href="{{entry.url}}" title="{{entry.page}}">
                            {{entry.page}}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
              </li>
              {% endfor %}              
          </ul>
      </nav>
  </div>
</div>